@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.banner {
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url("../assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#filters::-webkit-scrollbar {
  width: 0px;
}
